
/* Import Links */

/* Google Fonts : Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
     margin: 0;
     padding: 0;
}

/* Font & Styling */
.inter {
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
}

/* Reuseable Styling */

/* Button */
.primary-btn {
     background: linear-gradient(
       25deg,
          #F7E93F 0%,
          #FB09B4 51%,
          #9100F8 100%
          );
     width: 135px;
     height: 44px;
     font-size: 1rem;
     color: #FFFFFF;
     border: none;
     border-radius: 10000px;
     font-weight: 600;
     padding:12px 16px;
}


/* Navbar Styling */

/* Navbar Section*/

#header-section{
     background-color: #1A0B2E;
}
.navbar{
     background-color: #1A0B2E;
     width: 83%;
     height: 76px;
     max-width: 1600px;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content:space-between;
}

.menu-item{
     display: flex;
     list-style-type: none;
     align-items: center;
     gap: 32px;
}

.menu-item a{
     text-decoration: none;
     color: #FFFFFF;
     font-size: 1rem;
     font-weight: 500;
}

.divider {
     width: 100%;
     height: 1px;
     background-color: #412567;
}

/* Banner Section */
.banner{
     background-image:url("/Assets/hero-bg.png");
     width: 100%;
     height: 760px;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     position: relative;
}

.banner-container{
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.banner-content{
     width: auto;
     flex-direction: column;
     display: flex;
     text-align: center;
     align-items: center;
     
}

.banner-center-image{
     position: relative;
     width: 350px;
     height: 350px;
}
.bg-img{
     width: 100%;
     display: block;
}

.center-img{
     height: 175px;
     width: 116.67px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
}

/* New Badge */
.New{
     background-color: #00FF88;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 1000px;
     color: black;
     position:absolute;
     top: 16px;
     right: 16px;
     font-size: 1.2rem;
     font-weight: 600;
     width: 75px;
     height: 38px;
     box-shadow: 0px 0px 8px 2px #71cfa3;     
}

/* Banner : Title & Description*/
.title-description h3{
     font-size: 3.75rem;  
     color: #FFFFFF;
     font-weight:800;
     margin: 40px 0 0;
}
.title-description p{
     font-size: 1rem;
     font-weight:300;
     color: white;
     margin: 8px 0;
     opacity: 80%;
}


/* Banner : Buttons */

.btn-section{
     margin:20px 0 0;
}
.banner-btn1{
     background: linear-gradient(25deg,
                    #F7E93F 0%,
                    #FB09B4 51%,
                    #9100F8 100%);
          width: 180px;
          height: 44px;
          font-size: 1rem;
          font-weight: 500;
          color: #FFFFFF;
          border: none;
          border-radius: 10000px;
          padding: 12px 16px;
          cursor: pointer;

}
.banner-btn2{
     background-color: transparent;
     border: 1px solid #00FF88;
     border-radius: 10000px;
     color: #00FF88;
     font-size: 1rem;
     font-weight:500;
     width: 147px;
     height: 44px;
     margin-left: 8px;
     cursor: pointer;
}


/* Podcast Section */
.podcast{
    width: 1500px;
    height: 646px;
    padding: 50px 200px 120px 200px;
    margin: 0 auto;
}

.podcast-container{
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
}

.podcast-content{
     width: 1200px;
     height: 222px;
     margin-bottom: 50px;
}
.podcast-content h3{
     color: #FFFFFF;
     font-size: 3rem;
     margin-bottom: 16px;
}
.podcast-content p{
     color: #FFFFFF;
     font-size: 1rem;
     font-weight: 400;
     line-height: 27px;
     text-align: center;
     width: 1200px;
     margin: 0;
     opacity: 80%;
}

.description{
     display: flex;
     flex-direction: column;
     gap: 27px;
}

/* divider : 2 */
.divider2{
     margin: 80px auto;
     border: 1px solid rgb(41, 33, 55);
     height: 0;
     width: 1200px;
     color:white;
     
}

/* Podcast : Bottom Counting Section */
.bottom-items{
     display: flex;
     align-items: center;
     gap: 60px;
}
.items h3{
     color: #00FF88;
     font-size: 3rem;
     font-weight: 900;
     margin: 0;
}

.rating{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
}
#star{
     color: #00FF88;
     font-size: 2.3rem;
}

.items p{
     color: #ffffff;
     font-size: 1rem;
     font-weight:300;
     margin:16px 0 0;
     opacity: 80%;
}

/* Why Choose TechWave Section*/

#choose-techWave{
     padding: 40px 400px;
     background-color: #230E3D;
}

#choose-techWave h1{
     text-align: center;
     font-size: 3rem;
     font-weight: bold;
     color: #FFFFFF;
     margin-bottom: 80px;
}
.main-container{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 30px 40px;
     margin: 0 auto;
     max-height: 1600px;
     max-width: 1631px;
     margin-bottom: 120px;
}

.card{
     background-color: rgba(53, 17, 101, 0.4);
     border-radius: 40px;
     padding: 20px 40px;
     /* box-shadow: 0px 0px 10px 0px rgb(212, 204, 218); */

}

.card-col{
     grid-row: span 2;
     justify-content: center;
     flex-direction: column;
     display: flex;
}

.card-row{
     grid-column: span 2;
}

.card-double-row{
     grid-column: span 2;
}

.card-col2{
     grid-row: span 1;
}

.card h3 {
     color: #FFFFFF;
     font-size: 1.5rem;
     font-weight: 700;
}
.card p{
     color: #FFFFFF;
     opacity: 0.6;
     font-size: 1rem;
     font-weight: 300;
     line-height: 24px;
}
.card img{
     max-width: 48px;
     height: auto;
}


#Main2{
     background-color: #1A0B2E;
}


/* Featured Episodes Section */

.featured-content h1{
     text-align: center;
     grid-column: span 3;
     color: #FFFFFF;
     font-size: 3rem;
     font-weight: bold;
     margin: 0 auto;
}

.main-features{ 
     width: 100%;
     margin: 0 auto;
     margin-bottom: 120px;  
} 

.featured-content {
     width: 1200px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 30px;
     padding: 100px 200px;
     margin: 0 auto;

}

.featured-card{
     background-color: #250D44;
     display: flex;
     flex-direction: column;
     width: 380px;
     height: 440px;
     margin-top: 40px;
     border-radius: 30px;
}

.video-section{
     width: 380px;
     height: 214px;
}

.video-section iframe{
     width: 100%;
     height: 100%;
     border: none;
     border-top-left-radius: 30px;
     border-top-right-radius: 30px;
}

.card-content {
     display: flex;
     flex-direction: column;
     gap: 5px;
     width: 322px;
     padding: 20px 20px;
}
.card-content h3 {
     color: #FFFFFF;
     font-size: 1.3rem;
     font-weight: bold;
     width: 322px;
     height: 58px;
     margin: 0;
     letter-spacing: 1px;
}

.card-content p {
     color: #FFFFFF;
     font-size: 1rem;
     font-weight: 400;
     opacity: 60%;
     width: 322px;
     height: 72px;
     margin: 0;
}

.time {
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-items: center;
     margin-top: auto;
}

.time img{
     width: 20px;
     height: 20px;
}

.time h4 {
     color: #00FF88;
     margin: 1;
}

/* Meet The Host Section */

#meet-host{
     justify-content: center;
     height: 600px;

}
.meet-host-main h1{
    text-align: center;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 120px;
    margin-bottom: 40px;
}

.meet-host-container{
     height: 250px;
     width: 1200px; 
     padding: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 26px;
     border: none;
     border-radius: 40px;
     background-color: #250D44;
     
     margin: 0 auto;
}
.content {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     gap: 15px;
    
}

.content h3{
     font-size: 2rem;
     font-weight: bold;
     color:#FFFFFF;
     margin: 0;
}

.content p{
     color: #FFFFFF;
     font-size: 1rem;
     font-weight: 400;
     line-height: 24px;
     opacity: 60%;
     margin-bottom: 0;
}

.host-links{
     display: flex;
     gap: 10px;
     padding: 0;
     margin: 0;
}

.host-links a {
     width: 40px;
     height: 40px;
     border: 1px solid white;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     display: inline-flex;
}

.host-links img {
     height: 20px;
     width: 20px;
}


/* Footer Section */
footer {
     background-image: url("/Assets/footer-bg.png");
     height: 412px;
     width: 100%;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;

     display: flex;
     justify-content: center;
     align-items: center;
}


.footer-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 30px;
}

.TechWave {
     width: 410px;
     height: 60px;
}

.parent-content {
     display: flex;
     gap: 40px;
}

.inside-content a {
     text-decoration: none;
     display: flex;
     align-items: center;
     gap: 8px;
}

.inside-content img {
     width: 20px;
     height: 20px;
}

.inside-content span {
     color: #FFFFFF;
     font-size: 1rem;
     font-weight: 400;
     opacity: 0.6;
}

.inside-content a:hover span {
     opacity: 1;
}

.copyright-text {
     color: #ffffff;
     font-size: 1rem;
     opacity: 60%;
     margin-top: 10px;
     text-align: center;
}







