
/* Import Links */

/* Google Fonts : Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
     margin: 0;
     padding: 0;
}

/* Font & Styling */
.inter {
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
}

/* Reuseable Styling */

/* Button */
.primary-btn {
     background: linear-gradient(
       25deg,
          #F7E93F 0%,
          #FB09B4 51%,
          #9100F8 100%
          );
     width: 135px;
     height: 44px;
     font-size: 1rem;
     color: #FFFFFF;
     border: none;
     border-radius: 10000px;
     font-weight: 600;
     padding:12px 16px;
}


/* Navbar Styling */

/* Navbar Section*/

#header-section{
     background-color: #1A0B2E;
}
.navbar{
     background-color: #1A0B2E;
     width: 83%;
     height: 76px;
     max-width: 1600px;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content:space-between;
}

.menu-item{
     display: flex;
     list-style-type: none;
     align-items: center;
     gap: 32px;
}

.menu-item a{
     text-decoration: none;
     color: #FFFFFF;
     font-size: 1rem;
     font-weight: 500;
}

.divider {
     width: 100%;
     height: 1px;
     background-color: #412567;
}

/* Banner Section */
.banner{
     background-image:url("/Assets/hero-bg.png");
     width: 100%;
     height: 760px;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     position: relative;
}

.banner-container{
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.banner-content{
     width: auto;
     flex-direction: column;
     display: flex;
     text-align: center;
     align-items: center;
     
}

.banner-center-image{
     position: relative;
     width: 350px;
     height: 350px;
}
.bg-img{
     width: 100%;
     display: block;
}

.center-img{
     height: 175px;
     width: 116.67px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
}

/* New Badge */
.New{
     background-color: #00FF88;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 1000px;
     color: black;
     position:absolute;
     top: 16px;
     right: 16px;
     font-size: 1.2rem;
     font-weight: 600;
     width: 75px;
     height: 38px;
     box-shadow: 0px 0px 8px 2px #71cfa3;     
}

/* Banner : Title & Description*/
.title-description h3{
     font-size: 3.75rem;  
     color: #FFFFFF;
     font-weight:800;
     margin: 40px 0 0;
}
.title-description p{
     font-size: 1rem;
     font-weight:300;
     color: white;
     margin: 8px 0;
}


/* Banner : Buttons */

.btn-section{
     margin:20px 0 0;
}
.banner-btn1{
     background: linear-gradient(25deg,
                    #F7E93F 0%,
                    #FB09B4 51%,
                    #9100F8 100%);
          width: 180px;
          height: 44px;
          font-size: 1rem;
          font-weight: 500;
          color: #FFFFFF;
          border: none;
          border-radius: 10000px;
          padding: 12px 16px;
          cursor: pointer;

}
.banner-btn2{
     background-color: transparent;
     border: 1px solid #00FF88;
     border-radius: 10000px;
     color: #00FF88;
     font-size: 1rem;
     font-weight:500;
     width: 147px;
     height: 44px;
     margin-left: 8px;
     cursor: pointer;
}


/* Podcast Section */
.podcast{
    width: 1500px;
    height: 646px;
    padding: 50px 200px 120px 200px;
    margin: 0 auto;
}

.podcast-container{
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
}

.podcast-content{
     width: 1200px;
     height: 222px;
     margin-bottom: 50px;
}
.podcast-content h3{
     color: #FFFFFF;
     font-size: 3rem;
     margin-bottom: 16px;
}
.podcast-content p{
     color: #FFFFFF;
     font-size: 1rem;
     font-weight: 200;
     line-height: 27px;
     text-align: center;
     width: 1200px;
     margin: 0;
}

.description{
     display: flex;
     flex-direction: column;
     gap: 27px;
}

/* divider : 2 */
.divider2{
     margin:80px auto;
     border: 1px solid rgb(41, 33, 55);
     height: 0;
     width: 1200px;
     color:white;

}

/* Podcast : Bottom Counting Section */
.bottom-items{
     display: flex;
     align-items: center;
     gap: 60px;
}
.items h3{
     color: #00FF88;
     font-size: 3rem;
     font-weight: 900;
     margin: 0;
}

.rating{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
}
#star{
     color: #00FF88;
     font-size: 2.3rem;
}

.items p{
     color: #ffffff;
     font-size: 1rem;
     font-weight:300;
     margin:16px 0 0;
}